/* Vendor */

@import '~bootstrap-css-only/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* Includes */
/* inject:css */
@import 'textobject.css';
@import 'fonts.css';
@import 'menu.css';
@import 'hud.css';
@import 'loader.css';
@import 'noselect.css';
@import 'settings.css';
/* endinject */

/* This removes the resizing glitch (no scrolling) */
body, html {
    overflow: hidden !important;
}

body::-webkit-scrollbar {
    display: none;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ie10-11 {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE-only styles here. Works for IS 10 & IE 11 */
    .ie10-11 {
        display: block;
    }
    body {
        color: black;
        background: white;
    }
    .smartphones {
        display: none !important;
    }
}

/* Main */

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Raleway", Raleway, sans-serif;
    margin: 0;
    padding: 0;
    color: #db8e65;
    width: 100%;
    height: 100%;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #16122c;
    background-attachment: fixed;
}

canvas {
    top: 0; left: 0;
    position: absolute;
    z-index: 2;
}

.small-title {
    position: relative;
    display: block;
    font-family: "Raleway", Raleway, sans-serif;
    text-align: center;
    padding-bottom: 40px;
}

.btn-outline-light {
    background-color: #81411e;
    border-color: #9e4f25;
}

.btn-outline-secondary {
    background-color: #2b2356;
    border-color: #372d6e;
}

.btn-outline-light:hover {
    background-color: #9e4f25;
    border-color: #9e4f25;
}

.btn-outline-secondary:hover {
    background-color: #423685;
    border-color: #4e409c;
}

.btn-outline-light:active:focus {
    background-color: #9e4f25 !important;
    color: #c1ccc5 !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn {
    font-weight: bold;
    color: #c1ccc5;
}

.btn:hover {
    color: #c1ccc5;
}

/* Main Menu */

.main-menu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.status-checking {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.status-connected {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.status-error {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

@media (max-width: 560px) {
    html, body {
        font: 0.8em "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        background-color: #458cd3;
        text-align: center;
    }
    #background, #announce, #widget, #container, canvas
    {
        display: none !important;
    }
    .smartphones {
        color: white;
        display: block;
        -webkit-animation: smanim 5s linear infinite;
        -moz-animation: smanim 5s linear infinite;
        -o-animation: smanim 5s linear infinite;
    }
    .hea1 {
        padding-top: 50px;
        font-size: 20pt; color: white;
    }
}

@media (min-width: 560px) {
    .smartphones {
        display: none;
    }
}

.not-done-loading {
    display: none;
}
