
/* Slider */

.slider {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #403480; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #db805e; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #db805e; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Gamepad */

#gamepad-detector {
    margin-top: 0 !important;
}

.gamepad-status {
    display: flex;
    align-items: center;
}

.nested-icon {
    color: rgba(217, 83, 79, 0.7);
}

/* Gameplay */

.camspeed-control-wrapper {
    border-radius: 5px;
}

tr.camspeed-control-wrapper.gamepad-selected {
    background-color: #413786;
}

/* Audio */

.slider-container {
    display: flex;
    align-items: center;
}

#volume-status {
    color: #db805e;
    cursor: pointer;
}

#volume-control-wrapper {
    border-radius: 5px;
}

#volume-control-wrapper.gamepad-selected {
    background-color: #413786;
}

#settings-audio-volume {
    padding: 0;
}

#settings-inner-audio-volume {
    margin-bottom: 0.5rem;
}

/* w3schools switch */

/* The switch - the box around the slider */
.w3switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.w3switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.w3slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.w3slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .w3slider {
    background-color: #2196F3;
}

input:focus + .w3slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .w3slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.w3slider.w3round {
    border-radius: 17px;
}

.w3slider.w3round:before {
    border-radius: 50%;
}

/* Level select */

.btn-outline-light.gamepad-selected {
    background-color: #db805e;
}

.announce {
    padding-top: 50px;
    padding-bottom: 50px;
}

.announce #game-instances-table {
    position: relative;
    display: block;
}

.announce .table-bordered th, .announce .table-bordered td {
    border: 1px solid #495057;
}

/* Load / save */

.input-group-text,
.custom-file-input, .custom-file-label
{
    background-color: #2b2356;
    color: #db805e;
    border-color: #686156;
}

.custom-file-input[disabled] ~ .custom-file-label, .custom-file-input:disabled ~ .custom-file-label,
.custom-file-label::after
{
    background-color: #2b2356;
    color: #db805e;
    border-color: #686156;
}

/* Separator */

hr {
    display: block;
    position: relative;
    border-color: transparent;
}
