
.text-label {
    color: #ffffff;

    text-shadow: 0 0 2px #000000, 0 0 4px #000000;

    font-weight: bold;
    font-size: 20pt;
    font-family: "Fira Mono", Monaco,
        "Andale Mono", "Lucida Console",
        "Bitstream Vera Sans Mono", "Courier New",
        Courier, monospace;
    margin: -5px 0 0 15px;
    pointer-events:none;
}
