
.text-label {
    color: #fff;
    text-shadow: #16122c;
    font-family: "Fira Mono", Monaco,
        "Andale Mono", "Lucida Console",
        "Bitstream Vera Sans Mono", "Courier New",
        Courier, monospace;
    margin: -5px 0 0 15px;
    pointer-events:none;
}
